body{
    padding: 0;
    margin: 0;
    /*position: relative;*/
}

#hero-image{
    background: url(../images/hero-image.jpg);
    width: 100%;
    height: 100vh;
    background-position: 50% 50%;
    padding: 0;
    margin: 0;
}

#logo{
    margin-left: 0.4em;
    padding-top: 0.4em;
    font-size: 50px;
    color: saddlebrown;
    font-weight: 400;
}

#hero-image, a, a:hover, a:focus, a:active{
    text-decoration: none;
}

#jumbotron{
    width: 60%;
    margin: 0 auto;
    color: white; 
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 15%;
}

.navbar{
    
    float: right;
}

#navbar{
    background-color: rgba(0, 0, 0, 0.6);
    
}

#navbar-content{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    text-align: right;
}

#footer-div{
    padding:0;
    margin:0;
    background-color: rgba(0, 0, 0, 0.6);
    height: 80px;
}

#footer-div p{
    padding-top: 1.5em;
    text-align: center;
    color: black;

}



/*------------------------------------------- Media Queries for responsive mobile styling*/
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #jumbotron {
    width: 98%;
    margin-top: 45%;
  }

  #jumbotron h1{
      font-size: 25px;
  }

  #logo{
      font-size: 1.3rem;
      margin-left: 5px;
  }
}


#map {
  height: 500px;
}

#second-map{
    height: 500px;
}

#moovit-travel{
    padding-top: 100px;
    padding-bottom: 100px;
    height: 800px;
}

#moovit-interface{
    height: 100%;
}

#search-buttons-container{
    padding: 20px 20px;
    text-align: center;
}