body {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/*************************  Index.html  ***/
#hero-image {
    background: url(../images/hero-image.jpg);
    width: 100%;
    height: 95vh;
    background-position: 50% 50%;
    padding: 0;
    margin: 0;
}

#logo {
    font-size: 30px;
    color: white;
    font-weight: 400;
    float: left;

}

#hero-image,
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
}

#hero-overlay {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    top: 0%;
}

.nav-item {
    float: right;
}

#call-to-action-components {
    clear: both;
    position: relative;
    top: 30%;
}

#call-to-action-button {
    border-radius: 20px;
    border-width: 3px;
    width: 40%;
    margin-top: 1.5rem;
}

.btn-outline-success {
    color: #04ADBF;
    background-color: transparent;
    background-image: none;
    border-color: #04ADBF;
}

.page-nav-button {
    border-radius: 20px;
    width: 25%;
}

.menu-tab {
    padding-left: 15px;
}

.menu-tab>a {
    text-decoration: none;
    color: grey;
}

.home-tab a {
    color: grey;
}



/*************** These are the paragraphs created in script.js for the information that is returned from the place search */
.information-item {
    padding: 15px;
    margin-top: 1.5rem;
    display: inline-block;
    text-align: center;
    width: 33%;
    border-bottom: 2px solid black;
}


/******************** Sections below map and info with buttons to redirect to Explore and Contact pages **/

#location-information {
    padding-right: 0;
    padding-left: 0;
    margin-top: 2rem;
}

#location-information h5 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.tab-content {
    background-color: #027373;
    color: #F2E3D5;
    margin-top: 3rem;
}

.tab-title {
    padding-bottom: 3em;
}

#enquiry-contact-div {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-color: #F2E3D5;
    color: #027373;
}

#enquiry-section {
    margin-top: 2.5rem;
    padding-bottom: 2.5rem;
}

#contact-section {
    margin-top: 2.5rem;
    padding-top: 2.5rem;
}


@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;700&display=swap');

body{
    font-family: 'Karla', sans-serif;
}


#location-photos {
    margin: 3rem 0;
}

/******************** Footer section ****/
#footer-div {
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.8);
    height: 80px;
    
}

#footer-div p {
    padding-top: 1.5em;
    text-align: center;
    color:#027373;

}

/********************* contact.html     ****/

#contact-hero-image {
    background: url(../images/hero-image.jpg);
    width: 100%;
    height: 35vh;
    background-position: 4% 80%;
    padding: 0;
    margin: 0;
}

#contact-tagline {
    margin: 0 auto;
    margin-top: 3rem;
    width: 65%;
}

#contact-form-personal-info {
    margin: 4rem 0;
}

#contact-form-container {
    margin-bottom: 3rem;
    width: 60%;
}

#footer-div {
    position: relative;
    bottom: 0;
}

.form-submitted {
    height: 80vh;
}

.submission-confirmation {
    padding-top: 10rem;
}

/********************************************* Explore.html  *******/

#moovit-travel {
    padding-left: 0;
    padding-right: 0;
    padding-top: 1.5rem;
    background-color: #F2E3D5;
    height: 500px;
    margin-bottom: 5rem;
}

#explore-tagline {
    padding-top: 1.5em;
}

/*------------------------------------------- Media Queries for responsive mobile styling*/
@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    #jumbotron {
        width: 98%;

    }

    #jumbotron h1 {
        font-size: 25px;
    }

    #logo {
        font-size: 1.3rem;
        margin-left: 5px;
    }

    #logo {
        clear: both;
    }

    .btn {
        width: 40%;
    }

    #contact-form-container {
        margin-bottom: 3rem;
        width: 85%;
    }

    #contact-tagline {
        margin: 0 auto;
        margin-top: 1rem;
        width: 90%;
    }

    #moovit-travel {
    margin-bottom: 10rem;
}

.information-item {
    text-align: center;
    width: 50%;
    
}

}

#search-section {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#map {
    height: 500px;
}

#moovit-interface {
    height: 100%;
}

#search-buttons-container {
    padding: 20px 20px;
    text-align: center;
}